
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common
@model IEnumerable<Transaction>
@{
    ViewData["Title"] = "Viewtransaction";
}

<h1>View Transaction</h1>

<div>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.TransactionID)</th>
            <th>@Html.DisplayNameFor(model => model.TransactionType)</th>
            <th>@Html.DisplayNameFor(model => model.DestinationAccountNumber)</th>
            <th>@Html.DisplayNameFor(model => model.Amount)</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.TransactionID)</td>
                <td>@Html.DisplayFor(modelItem => item.TransactionType)</td>
                <td>@Html.DisplayFor(modelItem => item.DestinationAccountNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                <td></td>
            </tr>
        }
    </table>


</div>